* {
    box-sizing: border-box;
  }

p, a {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 35px;
}

h1, h2, h3 {
    font-family: 'Karma', serif;
}

h1, h2 {
    text-align: center;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 36px;
    margin-bottom: 10px;
}

h3 {
    font-size: 24px;
    text-align: left;
    padding-left: 10px;
}

nav {
    height: 40px;
    background-color: black;
    color: white;
    text-align: center;
}

nav > a:visited {
    color: white;
}

nav > a:active {
    color: white;
}

a:hover {
    color: limegreen;
}

.section-hero {
    background-color: #d9eeec;
    height: 700px;
}

.section-bio {
    background-color: #64b2cd;
}

.section-projects {
    background-color: #3c70a4;
}

.section-contact {
    height: 100px;
    background-color: #d9eeec;
    text-align: center;
}

.hero-header {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 260px;
}

.header {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.bio-content {
    text-align: left;
    padding-left: 15px;
}

.bio-inline {
    display: inline-block;
    width: 49%;
}


.project-1, .project-2 {
    display: flex;
}

.container-picture {
    width: 40%;
}

.container-text {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.image-left {
    width: 95%;
    padding-left: 10px;
    padding-right: 10px;
}

.image-right {
    width: 95%;
    padding-left: 10px;
    padding-right: 10px;
}

.description {
    text-align: left;
}