* {
    font-family: 'Libre Baskerville', serif;
}

nav {
    height: 40px;
    background-color: black;
    color: white;
    text-align: center;
}

nav > a:visited {
    color: white;
}

nav > a:active {
    color: white;
}

a:hover {
    color: limegreen;
}

.section-greeting {
    height: 200px;
    text-align: center;
}

.section-greeting, .section-projects {
    background-color: gray;
}

.section-bio, .section-contact {
    background-color: whitesmoke;
}

.hero {
    height: 700px;
}

.hero-header {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 300px;
}

.header {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.section-contact {
    height: 100px;
    text-align: center;
}

header {
    font-size: 16pt;
    vertical-align: middle;
}

.bio-content {
    text-align: left;
    padding-left: 15px;
}

.project {
    display: flex;
}

.image-left {
    width: 40%;
    flex-direction: left;
    padding-left: 10px;
    padding-right: 10px;
}

.image-right {
    width: 40%;
    flex-direction: right;
    padding-left: 10px;
    padding-right: 10px;
}

.description {
    text-align: left;
}